.jInputFile-input{
	position: absolute;
}

.jInputFile-customFile{
    cursor: pointer;
	position: absolute;
    left: 135px;
    cursor: pointer;
	width: 248px;
    height: 33px;
    z-index: 2;
	font-size: 16px;
	filter: alpha(opacity: 0);
    opacity: 0;
}

.jInputFile-fakeButton{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 248px;
    height: 33px;
    background: url('../img/input-file-bg.png') no-repeat left top;
    float: left;
}
       
.jInputFile-blocker{
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 21px;
    margin-left: -155px;
}

.jInputFile-fileName{
    z-index: 1;
    position: absolute;
    height: 33px;
	line-height: 28px;
    font-size: 16px;
    margin-top: 2px;
    padding-top: 1px;
    padding-left: 265px;
    color: #575757;
	display: none;
}
.jInputFile-fakeButton:hover {
    background: url('../img/input-file-bg-h.png') no-repeat left top;
}
.jInputFile-activeBrowseButton{
    background: url('../img/input-file-bg-h.png') no-repeat left top;
    display: none;
}