@font-face {
  font-family: 'ubuntulight';
  src: url('../fonts/Ubuntu-L.ttf');
}
@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/Ubuntu-R.ttf');
}
@font-face {
  font-family: 'ubuntumedium';
  src: url('../fonts/Ubuntu-M.ttf');
}
@font-face {
  font-family: 'si';
  src: url('../fonts/socicon.eot');
  src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'), url('../fonts/socicon.woff') format('woff'), url('../fonts/socicon.ttf') format('truetype'), url('../fonts/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: si;
    src: url(../fonts/socicon.svg) format(svg);
  }
}
.footer-social {
  margin-top: 15px;
}
.footer-social a {
  font-family: si!important;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
  width: 43px;
  height: 43px;
  line-height: 43px;
  font-size: 23px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 6px;
  margin-right: 5px;
  color: #ffffff;
  background-color: none;
}
.soc-icon-last {
  margin: 0 !important;
}
.soc-vkontakte {
  background-color: #5a7fa6;
}
.soc-vkontakte:before {
  content: ';';
}
.soc-twitter {
  background-color: #4da7de;
}
.soc-twitter:before {
  content: 'a';
}
.soc-facebook {
  background-color: #3e5b98;
}
.soc-facebook:before {
  content: 'b';
}
.soc-google {
  background-color: #d93e2d;
}
.soc-google:before {
  content: 'c';
}
.soc-linkedin {
  background-color: #3371b7;
}
.soc-linkedin:before {
  content: 'j';
}
.soc-youtube {
  background-color: #e02a20;
}
.soc-youtube:before {
  content: 'r';
}
.soc-pinterest {
  background-color: #c92619;
}
.soc-pinterest:before {
  content: 'd';
}
.soc-vkontakte:hover {
  background-color: #6e93ba;
}
.soc-twitter:hover {
  background-color: #61bbf2;
}
.soc-facebook:hover {
  background-color: #526fac;
}
.soc-google:hover {
  background-color: #ed5241;
}
.soc-linkedin:hover {
  background-color: #4785cb;
}
.soc-youtube:hover {
  background-color: #f43e34;
}
.soc-pinterest:hover {
  background-color: #dd3a2d;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
body {
  min-width: 960px;
  font-family: 'ubuntulight', sans-serif;
}
.blue-letters {
  color: #0099dc;
}
.gray-letters {
  color: #4c4c4c;
}
h1 {
  margin: 0 0 31px;
  font-size: 120px;
  font-weight: normal;
  color: #4c4c4c;
}
h1::first-letter {
  color: #000;
}
h3 {
  margin: 0 0 20px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
}
h3 .blue-letters {
  font-family: 'ubuntumedium', sans-serif;
}
::-webkit-input-placeholder {
  color: #575757;
}
::-moz-placeholder {
  color: #575757;
}
:-moz-placeholder {
  color: #575757;
}
:-ms-input-placeholder {
  color: #575757;
}
:focus::-webkit-input-placeholder {
  color: #0099dc;
}
:focus::-moz-placeholder {
  color: #0099dc;
}
:focus:-moz-placeholder {
  color: #0099dc;
}
:focus:-ms-input-placeholder {
  color: #0099dc;
}
input[type=text],
input[type=email] {
  width: 430px;
  height: 49px;
  margin: 2.5px auto 5px;
  padding: 15px 0 15px 50px;
  display: block;
  font-size: 18px;
  border: 1px solid #7C7C7C;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}
input[type=submit] {
  display: block;
  width: 430px;
  height: 65px;
  margin: 10px auto 0;
  background: #00a2ff;
  color: #fff;
  font-size: 30px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
textarea {
  height: 140px;
  margin: 2.5px auto 5px;
  padding: 15px 0 15px 15px;
  display: block;
  font-size: 18px;
  border: 1px solid #575757;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  resize: none;
}
input[type=submit]:hover {
  background: #0099dc;
}
.input-name {
  background: url('../img/input-name-icon.png') no-repeat left 15px center #ffffff;
}
.input-name:focus {
  background: url('../img/input-name-icon-blue.png') no-repeat left 15px center #ffffff;
}
.input-phone {
  background: url('../img/input-phone-icon.png') no-repeat left 15px center #ffffff;
}
.input-phone:focus {
  background: url('../img/input-phone-icon-blue.png') no-repeat left 15px center #ffffff;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: 1px solid #0099dc;
  color: #0099dc;
}
.form-subtitle {
  margin: 0 0 30px;
  font-size: 20px;
  color: #575757;
}
.gl-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  height: 65px;
  width: 100%;
  min-width: 960px;
  background: #fff;
  z-index: 10;
}
.header-menu {
  margin-top: 5px;
}
.header-menu li {
  display: inline-block;
  margin-right: 15px;
}
.header-menu li a {
  display: block;
  padding: 1px 5px 5px;
  font-size: 18px;
  color: #4c4c4c;
  text-decoration: none;
  border: 1px dashed transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.header-menu li a:hover {
  color: #0099dc;
  border: 1px dashed #0099dc;
}
.header-menu li:last-child {
  margin-right: -4px;
}
.demo-link {
  position: absolute;
  right: -57px;
  top: -5px;
}
.demo-link img {
  width: 50px;
  height: 23px;
}
.logo {
  display: block;
  width: 95px;
  height: 35px;
  background: url('../img/logo.png') no-repeat center center;
}
.block-1 {
  margin-top: 65px;
  min-height: 580px;
  padding: 40px 0;
  background: url('../img/block1-bg.jpg') no-repeat center center;
  text-align: center;
}
.block1-form {
  margin: 65px 0 0;
}
.block1-form h3 {
  margin: 0 0 10px;
}
.block-2 {
  padding: 70px 0 20px;
  background: #fff;
  text-align: center;
}
.advantages-list {
  margin: 50px 0 0;
}
.advantage-single {
  width: 235px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
  margin-right: 85px;
  opacity: 0;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.advantage-single p {
  font-size: 16px;
  color: #004361;
}
.advantage-single.visible {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.advantage-single:nth-child(3n) {
  margin-right: -4px;
}
.img-wrapper {
  height: 65px;
}
.block-3 {
  padding: 60px 0;
  background: #0099dc;
  text-align: center;
}
.block-3 h3 {
  color: #fff;
  margin: 0;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.block-3 h3.visible {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.block-4 {
  padding: 60px 0;
  background: #eee;
  text-align: center;
}
.block-4 .subtitle {
  font-size: 20px;
  color: #4c4c4c;
}
.block-4 .subtitle a {
  color: #0099dc;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dashed #0099dc;
}
.block-4 .subtitle a:hover {
  border-bottom: none;
}
.numbers-list {
  margin: 45px 0;
}
.number-single {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin: 0;
}
.numbers {
  display: block;
  font-size: 60px;
}
.block-5 {
  padding: 60px 0;
  background: #fff;
  text-align: center;
}
.phones-list {
  margin: 20px 0 0;
}
.phone-single {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin: 0;
  font-size: 24px;
  color: #0099dc;
}
.phone-single a {
  text-decoration: none;
  color: #0099dc;
}
.phone-single span {
  color: #8c8c8c;
}
.block-6 {
  min-height: 605px;
  padding: 55px 0;
  background: url('../img/block6-bg.jpg') no-repeat center center;
  text-align: center;
}
.about-list {
  margin-top: 20px;
}
.about-single {
  display: inline-block;
  vertical-align: top;
  width: 235px;
  height: 98px;
  padding: 10px 0 15px;
  margin-right: 2px;
  background: #0099dc;
  background: rgba(0, 153, 220, 0.8);
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.about-single p {
  margin: 10px 0 0;
}
.about-single:hover {
  background: #0099dc;
}
.about-single:last-child {
  margin-right: -4px;
}
.block6-form {
  margin-top: 80px;
}
.block6-form h3 {
  margin: 0 0 10px;
}
.block6-form .form-subtitle {
  margin: 0;
}
.block-7 {
  padding: 60px 0;
  background: #fff;
  text-align: center;
}
.works-list {
  margin-top: 40px;
}
.work-single {
  width: 260px;
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
  margin-bottom: 45px;
  opacity: 0;
}
.work-single p {
  margin: 5px 0;
  font-size: 18px;
  color: #8c8c8c;
}
.work-single a {
  font-size: 18px;
  color: #0099dc;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dashed #0099dc;
}
.work-single a:hover {
  border-bottom: none;
}
.work-single:nth-child(3n) {
  margin-right: -4px;
}
.block-8 {
  padding: 60px 0;
  background: url('../img/block8-bg.jpg') no-repeat center center;
  text-align: center;
}
.block-8 h3 {
  color: #fff;
  margin: 0;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.block-8 h3.visible {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.block-8 h3:nth-child(1) {
  margin: 0;
}
.block-9 {
  padding: 60px 0;
  background: #fff;
  text-align: center;
}
.block9-form input[type=text],
.block9-form input[type=email],
.block9-form textarea {
  width: 700px;
}
.block9-form textarea + div {
  margin-top: 10px;
  height: 33px !important;
  padding-left: 135px;
}
.block9-form input[type=submit] {
  margin-top: 15px;
}
.block9-form .form-subtitle {
  margin: 0;
  font-size: 18px;
}
.gl-footer {
  padding: 25px 0 60px;
  text-align: center;
}
.gl-footer address {
  font-size: 18px;
}
